{% extends 'base.html.twig' %}

{% block title %}Edit Sortie{% endblock %}

{% block body %}
    <h1>Modifier les informations de : {{ sortie.nom }}</h1>

    {{ include('sortie_create/_form.html.twig') }}

    <a href="{{ path('app_sortie_list') }}" class="btn btn-primary">Retour à l'accueil</a>

    {{ include('sortie_create/_delete_form.html.twig') }}
{% endblock %}
